<header>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <mat-toolbar>
      <!-- <button class="logout" [hidden]="!show_logout" mat-menu-item (click)="openLogoutDialog()">
          <span [hidden]="!show_logout"><i class="material-icons">
              keyboard_backspace
              </i></span>
      </button> -->
      <button style="background: #01579b;color: azure;border: none;margin-top: 7px;" (click)="onBackClicked();">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
        <span class="title-center"><strong>We</strong>Delivery</span>
       
        <button style="background: #01579b;
        color: azure;
        border: none;
        margin-top: 7px;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onSettingsClick();">
              <mat-icon>settings</mat-icon>
              <span>Carrier Settings</span>
            </button>
           
            <button mat-menu-item>
              <mat-icon>power_settings_new</mat-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>


  </mat-toolbar>
</header>