<div class="custom-loading-container">
  <mat-spinner></mat-spinner>
</div>
<app-header [parent]=parent [show_logout]='true'></app-header>
<head>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet"/>
<style>
  
</style>
</head>
<body>
   
      <div class="row">
        <div #gmap class="column1"></div>

            <div class="column2">
              <br>
              <br>
              <label class="label-blue">From</label>
              <br>
              <input class="address-input" [(ngModel)]="from" (change)="fromChanged();" type="text"/>
              <br>
              <label class="label-blue">To</label>
              <br>
              <input class="address-input" [(ngModel)]="to" (change)="toChanged();" type="text"/>
              <br>
              <label *ngIf="distance!=0" class="label-blue">Approximate Distance : </label>
              
              
              <label class="distance">{{ distance }}</label>
              <br>
              <div class="row">
                <div class="column" style="margin-top:60px">
                  <label class="label-blue" style="margin-left: 15px;">Pickup By</label>
                 
            
                  <mat-form-field>
                      <input  matInput type="datetime-local" [(ngModel)]="pickup_datetime" class="datepicker" >
                    </mat-form-field>
                    <br>
                   
                    <br>
                    <label class="label-blue" style="padding-left: 24px;margin-right: 5%">Drop By</label>
                    <mat-form-field>
                        <input matInput type="datetime-local" [(ngModel)]="drop_datetime" class="datepicker">
                      </mat-form-field>
                </div>
               
              </div>
              <br>
             <button class="proceed-btn" style="margin-top:10px" (click)="submitRequest();">Proceed</button>
            </div>
        
        
      </div>

     
<script>
  
</script>



</body>