<app-header></app-header>
<head>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet"/>
<style>
  
</style>
</head>
<body>
   
      <div class="row">
        <div #gmap class="column1"></div>

            <div class="column2">
              <br>
              <br>
              <label class="label-blue">From</label>
              <br>
              <input class="address-input" [(ngModel)]="from" (change)="fromChanged();" type="text"/>
              <br>
              <label class="label-blue">To</label>
              <br>
              <input class="address-input" [(ngModel)]="to" (change)="toChanged();" type="text"/>
              <br>
              <label *ngIf="distance!=0" class="label-blue">Approximate Distance : </label>
              
              
              <label class="distance">{{ distance }}</label>
              <br>
              <div class="row">
                <div class="column" style="margin-top:60px">
                  <label class="label-blue" style="margin-left: 15px;">Pickup By</label>
                 
            
                  <mat-form-field>
                      <input  matInput type="datetime-local" [(ngModel)]="pick_date" class="datepicker" style="margin-right: -156px;">
                    </mat-form-field>
                    <br>
                   
                    <br>
                    <label class="label-blue" style="padding-left: 24px;">Drop By</label>
                    <mat-form-field>
                        <input matInput type="datetime-local" [(ngModel)]="drop_date" class="datepicker">
                      </mat-form-field>
                </div>
               
              </div>
              <br>
             <button class="proceed-btn" style="margin-top:10px">Proceed</button>
            </div>
        
        
      </div>

     
<script>
  // var map;
  // function initMap() {
  //   map = new google.maps.Map(document.getElementById('map'), {
  //     center: {lat: 49.41369, lng: 8.6508},
  //     zoom: 15
  //   });
  //   var myLatlng = new google.maps.LatLng(49.41369, 8.6508);
  //   var marker = new google.maps.Marker({
  //   draggable: true,
  //   position: myLatlng, 
  //   map: map,
  //   title: "Your location",
  //   label: "A"
  //   });
  //   google.maps.event.addListener(marker, 'click', function (event) {
  //       document.getElementById("latbox").value = event.latLng.lat();
  //       document.getElementById("lngbox").value = event.latLng.lng();
  //   });

  //   google.maps.event.addListener(marker, 'click', function (event) {
  //       document.getElementById("latbox").value = this.getPosition().lat();
  //       document.getElementById("lngbox").value = this.getPosition().lng();
  //   });

  //   google.maps.event.addListener(marker, 'dragend', function (event) {
  //   document.getElementById("latbox").value = this.getPosition().lat();
  //   document.getElementById("lngbox").value = this.getPosition().lng();
  //   });
  //   google.maps.event.addListener(map, 'click', function(event) {
  //   placeMarker(event.latLng);
  //   });

  //   function placeMarker(location) {
  //       var marker = new google.maps.Marker({
  //           position: location, 
  //           map: map
  //       });
  //   }
  // }

</script>



</body>