<div class="custom-loading-container">
    <mat-spinner></mat-spinner>
  </div>
<app-header [parent]=parent [show_logout]=true></app-header>
<head>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
<style>
  
</style>
</head>
<body>
   
    <div class="row">
      <div class="column1">
      <h1 style="margin-left:25px;">We would like to know more about your package.</h1>
      <div class="row">
        
          <label style="margin-left: 10%;
          margin-top: 5%;
          font-size: 140%;">Weight of your package ? </label>
            <mat-slider
            style="    margin-top: 4.5%;
            width: 25%;
            margin-left: 10%;"
            (change)="onWeightChange();"
            [displayWith]="formatLabel"
            [(ngModel)]="weight_value"
            max="10"
            min="1"
            step="1"
            thumbLabel="true"
            tickInterval="auto"
            
            >
            
        </mat-slider>
     
        
        
      </div>
      
      <div class="row">
            <label style="margin-left: 45.5%;
            margin-top: -2%;position: relative;">1</label>
            <label style="margin-left: 9.2%;
            margin-top: -2%;position: relative;">5</label>
             <label style="margin-left: 11.2%;
             margin-top: -2%;position: relative;">10</label>
          </div>
      <div class="row">
          <label style="margin-left: 10%;
          margin-top: 5%;
          font-size: 140%;">Is it Fragile ? </label>
         <mat-slide-toggle
         style="margin-top: 5.5%;
         margin-left: 23%;"
         (change)="fragileChanged($event)"
         [checked]="fragile"
         >
       {{fragile_value}}
     </mat-slide-toggle>
      </div>
      <div class="row">
          <label style="margin-left: 10%;
          margin-top: 5%;
          font-size: 140%;">How valuable it is ? </label>
           <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedValuable" (change)="onValuableChange(group.value)" >
              <mat-button-toggle value="high" >High</mat-button-toggle>
              <mat-button-toggle value="medium">Medium</mat-button-toggle>
              <mat-button-toggle value="low">Low</mat-button-toggle>
            </mat-button-toggle-group>
       
      </div>

      <div class="row">
          <label style="margin-left: 10%;
          margin-top: 5%;
          font-size: 140%;">Timming Constraint  </label>
           <mat-button-toggle-group name="time" aria-label="Font Style" style="    margin-left: 15%;">
              <mat-button-toggle value="high">High</mat-button-toggle>
              <mat-button-toggle value="medium">Medium</mat-button-toggle>
              <mat-button-toggle value="low">Low</mat-button-toggle>
            </mat-button-toggle-group>
       
      </div>
      </div>
      <div class="column2" style="margin-top: 70px;margin-left: 50px;">
        <h1 style="margin-top:100px;margin-left:127px;margin-bottom: 50px;">Expense</h1>
        <div class="row">
            <div class="column" style="margin-left:70px">
          <label class="bill-lbl">Distance</label>
          </div>
          <div class="column">
              <label class="bill-lbl-value" >{{this.distance_value}}</label>
              <label class="bill-lbl" style="float: right;margin-top: -38px;margin-right: 35px;" >€</label>
              <mat-icon class="material-icons" style="float: right;margin-top: -36px;margin-right: -5px;color:#01579b" matTooltip="0,5€ / k.m. " matTooltipPosition='after'>
                    info
                    </mat-icon>
          </div>
        </div>
       
       
        <br>
        <div class="row">
            <div class="column" style="margin-left:70px">
              <label class="bill-lbl">Weight</label>
          </div>
          <div class="column">
              <label class="bill-lbl" style="margin-left:5%;">+</label>
              <label class="bill-lbl-value">{{weight_amount}}</label>
              <label class="bill-lbl" style="float: right;margin-top: -38px;margin-right: 35px;" >€</label>
              <mat-icon class="material-icons" style="float: right;margin-top: -36px;margin-right: -5px;color:#01579b" matTooltip="0,7€ / k.g. " matTooltipPosition='after'>
                info
                </mat-icon>
          </div>
        </div>
        
       
        <br>
        
        <div class="row">
            <div class="column" style="margin-left:70px">
              <input type="checkbox" (change)="onInsuranceClick();" [(ngModel)]="includeInsurance" style="margin-left: -100px;" class="chk"/>
              <label class="strikethrough">Insurance</label>
            <!-- </div> -->
          </div>
          <div class="column">
              <label class="bill-lbl" style="margin-left:5%;">+</label>
              <label class="strikethrough" style="float: right;margin-right: 50px" [style.text-decoration]="includeInsurance ? '': 'line-through' ">{{insurance}}</label>
              <label class="bill-lbl" style="float: right;margin-top: -38px;margin-right: 35px;" >€</label>
          </div>
          
        </div>
        
       
        <br>
        <hr style="width: 285px;margin-right: 100px;">
        <div class="row">
            <div class="column" style="margin-left:70px">
          <label class="bill-lbl" style="color:#01579b"><strong>Total</strong></label>
          </div>
          <div class="column">
              <label class="bill-lbl-value" style="color:#01579b"><strong>{{total}}</strong></label>
              <label class="bill-lbl" style="float: right;margin-top: -38px;margin-right: 35px;color:#01579b" >€</label>
              
          </div>
        </div>
        <button class="proceed-btn" style="margin-top:10px" (click)="submitRequest()">Proceed</button>
      </div>
      </div>
      </body>

