.column1 {
    float: left;
    width: 65%;
    height: 700px; 
   
  }
  .column2 {
    float: left;
    width: 30%;
    
    height: 700px; 

   
  }
  .column {
    float: left;
    width: 29%;
  }
  h1{
      color: #01579b;
      font-family: 'Hind', sans-serif;
      margin-left: 30px;
      margin-top: 50px;
  }

  .bill-lbl{
    color: gray;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    margin-left: 25%;
    float: left;
 

  }
  .bill-lbl-value{
    color: gray;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    float: right;
    margin-right: 50px;
  }
  .insurance-chk{
      color: #01579b;
      margin-left: 95px;
      margin-right: -25px;
      float: left;
      color: gray;
    font-family: 'Hind', sans-serif;
    font-size: 20px;

  }
  .mat-checkbox-input cdk-visually-hidden{
      display: none;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  .mat-slide-toggle-input .cdk-visually-hidden{
    display: none;
  }
  .strikethrough{
    color: gray;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    margin-left: 25%;
    float: left;
  }
  .strikethrough-value{
    color: gray;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    float: right;
    margin-right: 50px;
  }
  .chk:not(:checked) + .strikethrough{ 
    text-decoration: line-through;
  }

  .chk:not(:checked) + .strikethrough-value{
    text-decoration: line-through;
  }
  hr
  {
  border:solid 1px black;
  width: 85%;
  color: #FFFF00;

  margin-bottom: 2rem;
  }

  .proceed-btn {
    width: 80%;
    height: 60px;
    color:azure;
    font-size: 200%; 
    font-family: 'Hind', sans-serif;

    background: #01579b;
   
    margin-top: 60px;
    margin-left: 35px;

    
}
.proceed-btn:hover{
  background: #0288D1;
}
::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #01579b;
    color: grey;
    transform: scale(0) !important;
    height: 30px;
  width: 30px;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #01579b;
   color: azure !important;
   transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;

} 
::ng-deep .mat-accent .mat-slider-thumb-label-text {
    color: azure !important;
    opacity: 1 !important;
}
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #01579b;
    color: grey
} 
::ng-deep .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb{
    background-color: #01579b;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color: #01579b;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: lightgrey;
}

::ng-deep .mat-button-toggle-group{
    height: fit-content;
    margin-left: 16%;
    margin-top: 5%;
}
::ng-deep .mat-button-toggle .mat-button-toggle-checked{
    background-color: #01579b;
    color: azure;
}
.mat-button-toggle-checked {
    background-color: #01579b;
    color: azure;
}