<app-header></app-header>
<head>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
<style>
  
</style>
</head>
<body>
   
    <div class="row">
      <div class="column1">
      <h1 style="margin-left:15px;">We would like to know more about your package.</h1>
      </div>
      <div class="column2" style="margin-top: 70px;margin-left: 50px;">
        <h1 style="margin-top:100px;margin-left:100px;">Total Expense</h1>
        <div class="row">
            <div class="column" style="margin-left:70px">
          <label class="bill-lbl">Distance</label>
          </div>
          <div class="column">
              <label class="bill-lbl-value" >100</label>
              <label class="bill-lbl" style="float: right;margin-top: -31px;margin-right: 35px;" >€</label>
              
          </div>
        </div>
       
        <br>
        <br>
        <div class="row">
            <div class="column" style="margin-left:70px">
              <label class="bill-lbl">Weight</label>
          </div>
          <div class="column">
              <label class="bill-lbl" style="margin-left:5%;">+</label>
              <label class="bill-lbl-value">1000</label>
              <label class="bill-lbl" style="float: right;margin-top: -31px;margin-right: 35px;" >€</label>
          </div>
        </div>
        
        <br>
        <br>
        <div class="row">
            <div class="column" style="margin-left:70px">
             
              <!-- <input type="checkbox" [ngModel]="myModel" class="insurance-chk"/> -->
              <mat-form-field>
              <mat-checkbox class="insurance-chk" [ngModel]="myModel">Insurance</mat-checkbox>
              </mat-form-field>
              <!-- <label class="bill-lbl">Insurance</label> -->
          </div>
          <div class="column">
              <label class="bill-lbl" style="margin-left:5%;">+</label>
              <label class="bill-lbl-value">1000</label>
              <label class="bill-lbl" style="float: right;margin-top: -31px;margin-right: 35px;" >€</label>
          </div>
        </div>

      
      </div>
      </div>
      </body>

