<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link
    rel="shortcut icon"
    type="image/png"
    href="../../assets/image/food-delivery.png"
  />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap"
    rel="stylesheet"
  />
  <style>
    @import url("https://fonts.googleapis.com/css?family=Solway:500&display=swap");
  </style>
  <!-- <link rel="stylesheet" href="login.css" /> -->

  <title>We Delivery</title>
</head>
<body class="wd-image ">
  <p class="para">
    1000+ packages delivered every day……<br />
    <br />50 deliveries in transit….
  </p>

  <h1 class="h1-style">WeDelivery</h1>

  <div class="col-lg-4 sign_up_cards">
    <div class="special-card">
      <div class="card-body text-center">
        <form class="modal-content1 " action="/action_page.php" method="post">
          <br />
          <h1 class="login_title text-center">Log In</h1>
          <br />
          <div class="form-group">
            <label for="uname"><b>Username</b></label>
            <input
              class="placeholder"
              required=""
              type="email"
              name="username"
              placeholder="Email Address"
            />
          </div>
          <div class="form-group">
            <label for="psw"><b>Password</b></label>
            <input
              class="placeholder"
              required=""
              type="password"
              name="password"
              placeholder="Password"
            />
          </div>

          <button type="submit" class="btn btn-lg  sub-color">
            Login
          </button>
          <br />
          <br />
          <a class="link-color" href="#">Not a Member? Join us now</a>
          <br />
          <br />
        </form>
      </div>
    </div>
  </div>
</body>
