<div class="custom-loading-container">
  <mat-spinner></mat-spinner>
</div>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link
    rel="shortcut icon"
    type="image/png"
    href="../../assets/image/food-delivery.png"
  />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
   <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
 

  <title>We Delivery</title>
</head>
<body class="wd-image ">
  <p class="para">
    1000+ packages delivered every day……<br />
    <br />50 deliveries in transit….
  </p>

  <h1 class="h1-style" style="padding-top: 6%;">WeDelivery</h1>

  <div class="col-lg-4 sign_up_cards">
    <div class="special-card">
      <div class="card-body text-center" style="padding: 2.25rem;">
        <form class="modal-content1" style="height: 51vh;" >
          <br />
          <h1 class="login_title text-center">Log In</h1>
          <br />
          <div class="form-group">
            <!-- <label for="uname"><b>Email</b></label>
            <input
            style="width:42%"
              class="placeholder"
              required=""
              type="email"
              name="username"
              placeholder="Email Address"
            /> -->
            <mat-form-field style="width:60%; color:grey;">
              <input matInput placeholder="Email" type="email">
            </mat-form-field>
          </div>
          <div class="form-group">
            <!-- <label for="psw"><b>Password</b></label>
            <input
              style="width:42%;margin-right:-68px"
              required=""
              type="password"
              name="password"
              placeholder="Password"
            /> -->
            <mat-form-field style="width:60%">
              <input matInput placeholder="Password" type="password">
            </mat-form-field>
          </div>

          <button (click)="onLogIn()" class="sub-color">
            Login
          </button>
          <br />
          <br />
          <a class="link-color" href="#">Not a Member? Join us now</a>
          <br />
          <br />
        </form>
      </div>
    </div>
  </div>
</body>
