<div class="custom-loading-container">
    <mat-spinner></mat-spinner>
  </div>
    <head>
      <title>WeDelivery</title>
      <link
        rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      />
      <link
        rel="shortcut icon"
        type="image/png"
        href="../success/image/food-delivery.png"
      />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      />
  
      <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
      <script src="./signup.js"></script>
      <link
        href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap"
        rel="stylesheet"
      />
      <style>
        @import url("https://fonts.googleapis.com/css?family=Solway:500&display=swap");
      </style>
    </head>
    <body>
      <div>
        <div>
          <div>
            <div>
              <br />
              <div>
                
                <hr />
  
                <div class="row-down">
                  <div class="marg-all">
                    <h1 class="profile-name">Welcome {{first_name}}  {{last_name}}</h1>
                    
                   
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </body>
  
  