html,
body {
  margin: 0;
  font-family: "Solway", serif;

  background-position: center;
  text-align: center;
}
/* 
.body-img-su {
  height: 227%;
} */

/* .wd-image {
  height: 100%;
  background-image: url("../../assets/image/WeDelivery1.jpeg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.h1-style-su {
  font-family: "Solway", serif, cursive;
  font-size: 60px;
  color: blue;
  margin-top: 3%;
  /*   margin-left: 38%;
 */
  text-align: center;
}

.sub-color-signup {
  background-color: #ec5a52;
  color: #fff;
  border-radius: 2.25rem;
  padding: 0.5rem 5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-lg {
  padding: 0.5rem 5rem;
}
.placeholder {
  border-radius: 2.25rem;
  width: 95%;
  text-align: center;
  border-color: slategrey;
  font-size: 20px;
}

.special-card-signup {
  background-color: #6c757d;
  opacity: 0.9;
  min-width: 44vw;
  max-width: 92em;
  min-height: 52vh;
  max-height: 92em;
  position: relative;
}

.sign_up_cards-su {
  margin-top: 5%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-left: 18%;
}

.text {
  font-family: "Solway", serif;
  color: #551028;

  font-size: 15px;
}

.modal-content1 {
  /* position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column; */
  flex-direction: column;
  /* width: 100%; */
  /* pointer-events: auto; */
  background-color: #fff;
  /* background-clip: padding-box; */
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 2;
}
