/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.custom-loading-container{
    position:fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 500000;
    display: none;
    justify-content: center;
    align-items: center;
   
}
.custom-loading-container .mat-progress-spinner {
    display: block;
    position: relative;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #01579b;
}