<div class="custom-loading-container">
  <mat-spinner></mat-spinner>
</div>
<app-header [parent]=parent [show_logout]='true'></app-header>
<head>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet"/>
</head>
<h1>Carrier Settings</h1>
<label style=" font-size: 20px;margin-left: 10%;font-family: 'Hind', sans-serif;">Carrier Mode</label>
<mat-slide-toggle
style="margin-top: 5.5%;
margin-left: 23%;"
(change)="fragileChanged($event)"
[checked]="fragile"
>
On
</mat-slide-toggle>
<button style="margin-left: 30%;
border: none;
background: #01579b;
color: azure;
width: 4%;
font-family: 'Hind';
">Save</button>
<br/>
<br/>
<br/>
<label style=" font-size: 20px;margin-left: 10%;font-family: 'Hind', sans-serif;">Daily Commutes</label>
<br>
<button style="margin-left: 10%;margin-top: 2%;border: none;margin-right: 2%;">
<i class="material-icons">
    add
    </i>
    </button>
    <mat-form-field style="width:17%; color:grey; margin-right: 2%;">
        <input matInput placeholder="From" type="text">
      </mat-form-field>
      <mat-form-field style="width:17%; color:grey; margin-right: 2%;">
          <input matInput placeholder="To" type="text">
      </mat-form-field>
      <mat-form-field style="margin-right: 2%;">
          <input matInput type="datetime-local" placeholder="Start Date Time" [(ngModel)]="drop_datetime" class="datepicker">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="datetime-local" placeholder="Return Date Time" [(ngModel)]="drop_datetime" class="datepicker">
      </mat-form-field>

<br>